<div class="container">
  <app-filtro (filtroAplicado)="aplicarFiltros($event)"></app-filtro>

  <div *ngIf="mensagem" class="mensagem-erro">
    {{ mensagem }}
  </div>

  <div *ngIf="resultado !== null" class="resultado-container">
    <div class="resultado-box">
      Você acertou {{ resultado.acertos }} questões de {{ questoes.length }} ({{
        resultado.percentual
      }}%)
    </div>
  </div>

  <div *ngIf="!mensagem" class="questoes-lista">
    <div *ngFor="let questao of questoes; let i = index" class="questao-card">
      <div class="questao-tags">
        <div class="tag-row-banca">
          <span *ngIf="questao.banca" class="tag tag-banca">{{
            questao.banca
          }}</span>
        </div>
        <span *ngIf="questao.prova" class="tag tag-prova">{{
          questao.prova
        }}</span>
        <span *ngIf="questao.cargo" class="tag tag-cargo">{{
          questao.cargo
        }}</span>
        <span *ngIf="questao.nivel" class="tag tag-nivel">{{
          questao.nivel
        }}</span>
      </div>

      <p
        class="questao-enunciado"
        [innerHTML]="formatarEnunciado(questao.enunciado)"
      ></p>

      <img
        *ngIf="questao.imagem"
        [src]="'assets/images/' + questao.imagem"
        alt="Imagem da questão"
        class="imagem-questao"
      />

      <div class="alternativas-lista">
        <div
          *ngFor="let alternativa of questao.alternativas"
          class="alternativa-item"
          [class.selecionada]="
            alternativaSelecionada[questao.id] === alternativa.id && !resultado
          "
          [class]="obterClasseAlternativa(questao.id, alternativa.id)"
          (click)="selecionarAlternativa(questao.id, alternativa.id)"
        >
          {{ alternativa.texto }}
        </div>
      </div>

      <div *ngIf="resultado" class="detalhes">
        <p>
          Resposta correta:
          {{
            obterTextoAlternativa(
              questao,
              resultado.detalhes[i].respostaCorreta
            )
          }}
          <br />
          Sua resposta:
          {{
            obterTextoAlternativa(
              questao,
              resultado.detalhes[i].respostaSelecionada
            )
          }}
        </p>
      </div>
    </div>
  </div>

  <div class="botoes-container">
    <button
      class="corrigir-simulado-btn"
      (click)="corrigirSimulado()"
      [disabled]="!todasQuestoesRespondidas()"
    >
      Corrigir Simulado
    </button>

    <button class="sortear-questoes-btn" (click)="sortearNovasQuestoes()">
      Sortear Novas Questões
    </button>
  </div>
</div>
